<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href='./css/style.css'>
    <link rel='icon' href='./img/weather.png'>
    <title>About</title>
</head>

<body>
    {{>header}}
    <img class='portrait' src="./img/vaibhav.jfif" alt="me">
    <p>{{name}}</p>
    {{>footer}}
</body>

</html>