<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href='./css/style.css'>
    <link rel='icon' href='./img/weather.png'>
    <title>About</title>
</head>

<body>
    {{>header}}
    <p>Hi, there I'm {{name}}.This Weather App is created using mapbox and OpenWeatherMap API. Check the weather of any place in the world. If you want to contribute in this project <a style="color: blue;" href="https://github.com/mishu-mnp/Weather-App-Node" target="_blank">Click here</a> Happy Coding!!!</p>
    <img class='portrait' src="./img/vaibhav.jfif" alt="me">
    <p>{{name}}</p>
    {{>footer}}
</body>

</html>