<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href='./css/style.css'>
    <link rel='icon' href='./img/weather.png'>
    <title>Error</title>
</head>

<body>
    {{>header}}
    <p>{{errorMssg}}</p>

    {{>footer}}
</body>

</html>